@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
body {
  background-color: rgb(240, 238, 238);
  font-family: "Montserrat", sans-serif;
}

.popular {
  display: flex;
  width: 92vw;
  margin: auto;
  flex-direction: column;
}
.sanity {
  display: flex;
  overflow-x: scroll;
  width: 92vw;
  border-radius: 1.2em;
  margin-left: auto;
}
.poputitle {
  display: flex;
  justify-content: space-between;

  width: 93vw;
  margin-left: auto;
  align-items: center;
}
.subcategory {
  width: 93vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.modal {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
}
.modalback {
  height: 100vh;
  width: 98.9vw;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}
.modalcontent {
  position: absolute;
  height: 50vh;
  width: 40vw;
  opacity: 1;
  z-index: 1;
  left: 30vw;
  background-color: blanchedalmond;
}
.modelcontentcontainer {
  position: -webkit-sticky;
  position: sticky;
  top: 30vh;
  z-index: 4;
}
.modalitem {
  height: 40vh;
  width: 100%;

  background-color: blueviolet;
  display: flex;
}
.plus,
.minus,
.fiadd {
  height: 100%;
  width: 33.3%;
  border: 2px solid burlywood;
  align-items: center;
}
.finaladd {
  height: 5vh;
  width: 5vw;
  display: flex;
  background-color: cadetblue;
  user-select: none;
}
.modalitem img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}
.orderplace {
  position: absolute;
  top: 40vh;
  left: 60vh;
  height: 3vh;
  width: 5vw;
  background-color: aqua;
}

.listcont::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.sanity::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.listcont {
  display: flex;
  overflow-x: scroll;
}
.list {
  margin: 1vh;
}

.category {
  width: 92vw;
  margin: auto;
  align-items: center;
  overflow: hidden;
  border-radius: 1.2em;
}
.ordertab {
  display: none;
  position: fixed;
  top: 90vh;
  left: 10vh;
}
/*FullOrder details */
.contfullorderdetails {
  display: none;
}
.fullorderdetails {
  display: flex;
  position: fixed;
  top: 41vh;
  left: 10vh;
  background-color: rgb(218, 218, 230);
  height: 50vh;
  width: 91%;
  margin: auto;
  justify-content: space-around;
}
.allord {
  margin: 1em;
  border: 1px solid black;
}
.eachquantitypri {
  border: 1px solid blue;
  margin: 1em;
}
.eachquan {
  border: 1px solid blue;
  margin: 1em;
}
/*Media Queries*/
@media (max-width: 507px) {
  .popular {
    width: 98vw;
  }
  .modalcontent {
    height: 40vh;
    width: 80vw;
    top: 30vh;
    opacity: 1;
    z-index: 1;
    left: 5vh;
  }
  .category {
    height: 15vh;
  }
  .list svg {
    height: 12vh;
    width: 12vh;
    border-radius: 0.5em;
  }
  .popuname {
    font-size: 1.2em;
  }
  .catename {
    font-size: 1em;
    margin-left: 0.5em;
  }
}
