.itemdisplay {
  height: 40vh;
  width: 45vh;
  background-color: aqua;
  margin: 1vh;
  border-radius: 1em;
  background-color: white;
  position: relative;
}

.itemname {
  font-size: 1.2em;
}
.desc {
  color: rgb(71, 71, 71);
  font-size: 0.8em;
}

.image1 {
  height: 20vh;
}
.image1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}
.rating {
  position: absolute;
  display: flex;
  align-items: center;
  top: 14vh;
  left: 31vh;
  color: white;
  height: 5vh;
  justify-content: space-around;
  width: 8vh;
  border-radius: 20%;
  background-color: rgb(9, 214, 53);
}
.rating h1 {
  text-align: center;
  font-size: 1em;
}
.rating svg {
  height: 1rem;
  width: 1rem;
}
.cart {
  height: 5vh;
  background-color: rgb(240, 238, 238);
  width: 10vh;
  margin-left: auto;
  border-radius: 1em;
}
@media (max-width: 507px) {
  .itemdisplay {
    height: 35vh;
    width: 40vh;
  }
}
