.navbar {
  height: 10vh;
  width: 98.7vw;
  position: sticky;
  display: flex;
  margin-bottom: 4vh;
  justify-content: space-around;
}
.title {
  font-size: 1.6em;
}
.displaylist {
  height: 80vh;
  display: none;
  position: absolute;
  width: 80vw;
  margin: auto;
  left: 20vh;
  z-index: 2;
}

.links {
  height: 50%;
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.cartnumber {
  display: flex;
  position: relative;
  height: 6vh;
  width: 8vh;

  margin-left: auto;
  margin-right: 10vh;
}
